extends layout.pug

block scripts
  // Tiny scripts- 1KB each - that are needed right away, thus in the head
  link(rel='stylesheet' href='/css/main.css')
  script(type='text/javascript' src='/js/analyzePhoto.js')
  script(type='text/javascript' src='/js/retakePhoto.js')
  script(type='text/javascript' src='/js/uploadPhoto.js')
  script(type='text/javascript' src='/js/getCamera.js')  

//- New Diary entry form
block content
  h1.display-4.mt-3 Make an entry
    #camera-and-photo-container.mt-3
      video#camera.mr-3(autoplay='' width='320' height='240')
      canvas#photoContainer(width='320' height='240')
    div.btn-group.btn-group-lg.mt-3
      button#capture.btn Take Photo
      button#retakePhoto.btn(onclick='retakePhoto()') Retake
      button#usePhoto.btn(onclick='analyzePhoto()') Use Photo
    div.mt-2
      #results-container(hidden='true')
        p.d-inline Feeling - 
        p#results.d-inline
      button#uploadPhoto.btn.btn-lg.btn-secondary.mt-3(onclick='uploadPhoto()' hidden='true') Start Entry
    form(method="POST").mt-2
      input#comment.form-control.mx-auto.mt-3(type='text', placeholder='Enter comment', name="comment", value=diary.comment hidden='true')

      input#user-id(type='hidden', name='userid', value=user.id)
      input#emotion(type='hidden', name='emotion' value=diary.emotion)
      input#picture-url(type='hidden', name='picture', value=diary.picture)      
      input#date(type='hidden', name='timestamp' value=diary.timestamp)

      button#finish-entry.btn.btn-lg.btn-primary.mt-3(type='submit' hidden='true') Finish Entry
      
  script.
    getCamera()

block append scripts2
  // Huge script (701 KB), so placed at the bottom. Not needed until uploading
  script(src='/js/azure-storage.blob.min.js')
