extends layout.pug

block scripts
  // Tiny scripts- 1KB each - that are needed right away, thus in the head
  script(type='text/javascript' src='/js/analyzePhoto.js')
  script(type='text/javascript' src='/js/retakePhoto.js')
  script(type='text/javascript' src='/js/makeEntry.js')
  script(type='text/javascript' src='/js/getCamera.js')  

//- New Diary entry form
block content
  h1.mt-5= title
    .mb-1
      video#camera(autoplay='' width='320' height='240')
      canvas#photoContainer(width='320' height='240')
    div
      button#capture Take Photo
      button#retakePhoto(onclick='retakePhoto()') Retake
      button#usePhoto(onclick='analyzePhoto()') Use Photo
      button#makeEntry(onclick='makeEntry()') Save Entry
    form(method="POST")
      #results-container(hidden='true')
        | Feeling: 
        p#results.d-inline
      label(for='comment')
      input#comment.form-control(type='text', placeholder='Enter comment', name="comment", value=diary.comment)
      input#user-id(type='hidden', name='userid', value=user.id)
      input#emotion(type='hidden', name='emotion' value=diary.emotion)
      input#picture(type='hidden', name='pictureURL', value=diary.picture)      
      input#date(type='hidden', name='entry-date' value=diary.timestamp)
      button.btn.btn-primary(type='submit') Submit 
      
  script.
    getCamera()

block append scripts2
  // Huge script (701 KB), so placed at the bottom. Not needed until uploading
  script(src='/js/azure-storage.blob.min.js')
