extends layout.pug

//- Display all diary entries 
block content
  h1.mt-5(class='font-weight-bold')= user.username
    a.btn.btn-primary(href='./facediary/new') New Entry
  table.table
    thead
      tr
        th(scope='col', class='text-center') Date
        th(scope='col', class='text-center') Picture
        th(scope='col', class='text-center') Emotion
        th(scope='col', class='text-center') Comment
        th(scope='col')
    tbody
      each diary in facediary
        tr
          td(class='text-center')= diary.timestamp
          td(class='text-center')
            img(src=diary.picture alt='picture' width='320' height='240')
          td(class='text-center')= diary.emotion
          td(class='text-center')= diary.comment
          td(class='text-center')
            a.btn.btn-primary.btn-block(href='./facediary/' + diary.id + '/update') Edit Comment
            form(action='/facediary/' + diary.id + '/delete' method="POST")
              button.btn.btn-danger.btn-block(type='submit') Delete
